.centered {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.container label {
    display: block;
    margin: .75em 2em;
    padding: .5em;
}

form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgb(192, 192, 192);
}

form input {
    box-sizing: border-box;
    display: inline-block;
}


input:invalid {
    border: 2px dashed red;
}